<div class="header">
    <div class="container"> 
        <div class="row"> 
            <div class="menu col-xs-8"> 
                <ul> 
                    <li><%= link_to "Welcome", "/" %></li> 
                    <li><%= link_to "Portfolio", "/portfolio" %></li> 
                    <li><%= link_to "Blog", "#" %></li> 
                    <li><%= link_to "About", "/about" %></li> 
                    <li><%= link_to "Contact", "/contact" %></li> 
                </ul> 
            </div> 
            <div class="name col-xs-4"> 
                <h1>Valérie ANDRIANI<br>Portfolio</h1> 
                <%= link_to "Portfolio", "/portfolio" %>
            </div> 
        </div> 
    </div> 
</div>
